body {
  margin: 20px;
  background-color: #4378DB;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[16];
      grid-template-columns: repeat(16, 1fr);
  gap: 20px;
  -ms-grid-rows: (1fr)[9];
      grid-template-rows: repeat(9, 1fr);
  height: 92vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #21205A;
  min-width: 1024px;
  min-height: 768px;
}

.left {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 9;
  grid-row: 1/10;
}

.main.shrink {
  -ms-grid-column: 4;
  -ms-grid-column-span: 9;
  grid-column: 4/13;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-animation: 1s;
          animation: 1s;
}

.main {
  -ms-grid-column: 4;
  -ms-grid-column-span: 13;
  grid-column: 4/17;
  -ms-grid-row: 1;
  -ms-grid-row-span: 9;
  grid-row: 1/10;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[9];
      grid-template-rows: repeat(9, 1fr);
  row-gap: 32px;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
}

.main .calendar {
  -ms-grid-row: 1;
  -ms-grid-row-span: 6;
  grid-row: 1/7;
  border-radius: 1.5vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

.main .calendar .container {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[7];
      grid-template-rows: repeat(7, 1fr);
}

.main .calendar .container .month {
  margin-top: -12px;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[7];
      grid-template-columns: repeat(7, 1fr);
}

.main .calendar .container .month .header {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.main .calendar .container .month .button {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

.main .calendar .container .month .button .prev {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  font-size: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.main .calendar .container .month .button .prev.none {
  display: none;
}

.main .calendar .container .month .button .next {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  font-size: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.main .calendar .container .month .button .next.none {
  display: none;
}

.main .calendar .container .month .btnrekam {
  -ms-grid-column: 7;
  -ms-grid-column-span: 1;
  grid-column: 7/8;
  height: 48px;
  width: 48px;
  font-size: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  background-color: #017BFF;
  cursor: pointer;
  justify-self: end;
}

.main .calendar .container .days {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  margin-top: -24px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[7];
      grid-template-columns: repeat(7, 1fr);
  padding: 0 32px 8px 32px;
  grid-gap: 2vh;
}

.main .calendar .container .dates {
  margin-top: -48px;
  -ms-grid-row: 3;
  -ms-grid-row-span: 5;
  grid-row: 3/8;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[7];
      grid-template-columns: repeat(7, 1fr);
  padding: 0 32px 0 32px;
  grid-column-gap: 2vh;
  grid-auto-rows: minmax(60px, 7vh);
}

.eventlist {
  -ms-grid-row: 7;
  -ms-grid-row-span: 3;
  grid-row: 7/10;
  border-radius: 12px;
}

.right {
  visibility: hidden;
  -ms-grid-column: 13;
  -ms-grid-column-span: 4;
  grid-column: 13/17;
  -ms-grid-row: 1;
  -ms-grid-row-span: 9;
  grid-row: 1/10;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[9];
      grid-template-rows: repeat(9, 1fr);
  row-gap: 4vh;
}

.right .rekam {
  -ms-grid-row: 1;
  -ms-grid-row-span: 9;
  grid-row: 1/10;
  display: -ms-grid;
  display: grid;
}

.right .rekam form {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[9];
      grid-template-rows: repeat(9, 1fr);
  row-gap: 0px;
}

.right .rekam form ul {
  -ms-grid-row: 2;
  -ms-grid-row-span: 7;
  grid-row: 2/9;
  display: -ms-grid;
  display: grid;
  overflow-y: scroll;
  height: 68vh;
}

.right .rekam form ul li {
  height: 84px;
}

.right .rekam form .button {
  -ms-grid-row: 9;
  -ms-grid-row-span: 1;
  grid-row: 9/10;
}
/*# sourceMappingURL=layout.css.map */