$col1 : #017BFF;
$col2 : #F5F6FA;
$text : #21205A;
$bor : 1px solid black;


body {
    margin: 20px;
    background-color: #4378DB;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    gap: 20px;
    grid-template-rows: repeat(9, 1fr);
    // border: 2px solid black;
    height: 92vh;
    font-family: -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        'Open Sans',
        'Helvetica Neue',
        sans-serif;
    color: $text;
    min-width: 1024px;
    min-height: 768px;
}


.left {

    grid-column: 1/4;
    grid-row: 1/10;

}


.main.shrink {
    grid-column: 4/13;
    transition: 1s;
    animation: 1s;
}

.main {
    // border: 2px solid green;
    grid-column: 4/17;
    grid-row: 1/10;
    display: grid;
    grid-template-rows: repeat(9, 1fr);
    row-gap: 32px;
    grid-template-columns: repeat(1, 1fr);


    .calendar {
        grid-row: 1/7;
        border-radius: 1.5vw;

        display: grid;
        grid-template-rows: 1fr;

        .container {

            grid-row: 1/2;
            display: grid;
            grid-template-rows: repeat(7, 1fr);

            .month {
                margin-top: -12px;
                grid-row: 1/2;
                height: min-content;
                display: grid;
                grid-template-columns: repeat(7, 1fr);

                .header {
                    grid-column: 1/3;
                }

                .button {
                    grid-column: 4/5;
                    display: grid;
                    grid-template-columns: repeat(4, 1fr);

                    

                    .prev {
                        grid-column: 1/2;
                        // border: 1px solid black;
                        font-size: 24px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;
                    }

                    .prev.none{
                        display: none;
                    }

                    .next {
                        grid-column: 2/3;
                        // border: 1px solid black;
                        font-size: 24px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;
                    }

                    .next.none {
                        display: none;
                    }
                }

                .btnrekam {
                    grid-column: 7/8;
                    // border: 1px solid black;
                    height: 48px;
                    width: 48px;
                    font-size: 24px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    background-color: $col1;
                    cursor: pointer;
                    justify-self: end;
                    
                }

            }

            .days {
                grid-row: 2/3;
                margin-top: -24px;

                display: grid;
                grid-template-columns: repeat(7, 1fr);
                padding: 0 32px 8px 32px;
                grid-gap: 2vh;


            }

            .dates {
                margin-top: -48px;
                grid-row: 3/8;
                // height: 115%;
                display: grid;
                grid-template-columns: repeat(7, 1fr);
                // grid-template-rows: repeat(6, 1fr);
                padding: 0 32px 0 32px;
                grid-column-gap: 2vh;
                grid-auto-rows: minmax(60px, 7vh);

                



            }
        }
    }
}


.eventlist {
    // border: 5px solid rgb(187, 25, 25);
    grid-row: 7/10;
    border-radius: 12px;
}


.right {
    visibility: hidden;
    grid-column: 13/17;
    grid-row: 1/10;
    display: grid;
    grid-template-rows: repeat(9, 1fr);
    row-gap: 4vh;
    // border: 1px solid red;


    .rekam {
        grid-row: 1/10;
        display: grid;
        

        form {
            display: grid;
            grid-template-rows: repeat(9, 1fr);
            row-gap: 0px;

            ul {
                grid-row: 2/9;
                display: grid;
                overflow-y: scroll;
                height: 68vh;




                li {
                    height: 84px;
                }

            }

            .button {
                grid-row: 9/10;

            }

        }




    }

}